<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Personal Home</title>
    <style>
        .pdiv{
            margin-left: 10%;
            position: absolute;
            top: 30%;
            left: 30%;
        }
        a{
            text-decoration: none;
            padding-left: 5%;
            padding-bottom: 5%;
        }
        .val{
            float: right;
            width: 15%;
        }
    </style>
</head>
<body>
    <div class="pdiv">
        <p><strong>My NickName:</strong><span class="val">{{object.uname}}</span></p>
        <p><strong>My Description:</strong><span class="val">{{object.description}}</span></p>
        <a href="">Edit Description</a>
    </div>

</body>
</html>